{{#each posts as |Post|}}
  <section class="card">
    <div>
      <div class="card-header">
        <header>{{post.title}}</header>
        <p>Posted by {{user.username}} on {{format_date post.posted_on}}</p>
      </div>
      <div class="card-body">
        <p>{{post.content}}</p>
      </div>
    </div>
  </section>
{{/each}}
