{{#each posts as |Post|}}
  <section class="card">
    <div>
      <div class="card-header">
        <header>{{title}}</header>
        <p>Posted by {{user.username}} on {{format_date posted_on}}</p>
      </div>
      <div class="card-body">
        <p>{{content}}</p>
      </div>
    </div>
  </section>
{{/each}}
